* {
   font-family: 'Roboto', sans-serif;
}

.container-fluid {
   padding: 30px 0px 80px 0px;
   min-height: 95vh;
}

.container {
   padding: 0;
}

.col-12 {
   padding: 0;
}

.conversor-container {
   margin: 50px auto;
}

form {
   padding: 20px;
   background-color: #0e4666;
   border-radius: 12px;
}

form label, form legend {
   color: #fff;
}