<div class="container-fluid">
   <div class="container m-auto">

      <div class="row menu-container ">


         <div class="col-12">
            <div class="opciones-container shadow-lg">
               <div class="opciones d-none d-md-block">
                  <div class="row">
                     <div class="col-12 col-md-5 col-lg-6">
                        <button (click)="irATicketForm()" for="cargaTransacciones"
                           class="btno btn btn-dark btn-opciones">
                           Agregar
                        </button>
                     </div>
                     <form class="col-12 col-md-7 col-lg-6 d-flex justify-content-end">
                        <input (click)="obtenerTickets()" type="submit" for="cargaTickets"
                           class="btn btn-dark btno btn-opciones me-3 mt-2 mt-sm-0" value="Mostrar Todo">
                        <input (click)="filtarTickets(categoriaEspectador)" type="submit" for="cargaTickets"
                           class="btn btn-dark btno btn-opciones me-3 mt-2 mt-sm-0" value="Filtrar">
                        <select [(ngModel)]="categoriaEspectador" id="categoriaEspectador"
                           class="form-select mt-2 mt-sm-0" name="categoriaEspectador" required
                           aria-describedby="emailHelp">
                           <option value="Local">Local</option>
                           <option value="Extranjero">Extranjero</option>
                        </select>
                     </form>
                  </div>
               </div>
               <div class="d-block d-md-none">
                  <div class="row">
                     <div class="col-12 d-flex justify-content-between opc-responsive">
                        <button (click)="irATicketForm()" for="cargaTransacciones" class="btn btn-dark">
                           Agregar
                        </button>
                        <button (click)="obtenerTickets()" for="cargaTickets" class="btn btn-dark">
                           Cargar Todo
                        </button>
                        <button (click)="filtarTickets(categoriaEspectador)" for="cargaTickets" class="btn btn-dark">
                           Filtrar
                        </button>
                     </div>
                     <div class="col-12 mt-3">
                        <select [(ngModel)]="categoriaEspectador" id="categoriaEspectador"
                           class="form-select mt-2 mt-sm-0" name="categoriaEspectador" required>
                           <option value="Local">Local</option>
                           <option value="Extranjero">Extranjero</option>
                        </select>
                     </div>
                  </div>
               </div>
            </div>
         </div>


         <div class="col-12">
            <div class="row ticketsComprados-container shadow-lg">
               <div class="table-responsive">
                  <div class="col-12 lista-vacia">
                     <p>Lista de Tickets vendidos</p>
                  </div>
                  <table class="table tabla-tickets table-hover table align-middle">
                     <thead>
                        <tr>
                           <th scope="col">DNI:</th>
                           <th scope="col">Apellido:</th>
                           <th scope="col">Nombre:</th>
                           <th scope="col">Email:</th>
                           <th scope="col">Fecha:</th>
                           <th scope="col">Categoria:</th>
                           <th scope="col">Precio:</th>
                           <th scope="col">Acciones:</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr *ngFor="let t of tickets">
                           <td>{{t.espectador.dni}}</td>
                           <td>{{t.espectador.apellido}}</td>
                           <th class="fw-normal">{{t.espectador.nombre}}</th>
                           <td>{{t.espectador.email}}</td>
                           <td>{{t.fechaCompra | date:'dd/MM/yyyy'}}</td>
                           <td>{{t.categoriaEspectador}}</td>
                           <td>{{t.precioTicket | currency:'USD':'symbol':'1.2-2'}}</td>
                           <td>
                              <button (click)="editarTicket(t._id)" class="btn btn-outline-secondary me-2"><i
                                    class="bi bi-pencil-fill"></i></button>
                              <button (click)="eliminarTicket(t.espectador, t)" class="btn btn-outline-danger"><i
                                    class="bi bi-trash3-fill"></i></button>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>

   </div>
</div>