.container-fluid {
   padding: 20px 0px 80px 0px;
}

.container {
   padding: 0;
}

.col-12 {
   padding: 0;
}

.menu-container {
   border-radius: 8px;
   /* border: 1px solid #3b3b3b; */
   /* background-color: #f1f1f1; */
   min-height: 80vh;
   height: fit-content;
   padding: 35px !important;
   margin: 50px 0px;
}

.ticketsComprados-container {
   border-radius: 8px;
   border: 1px solid #222;
   min-height: 70vh;
   height: fit-content;
   width: 100%;
   padding: 30px;
   margin: 0;
   background-color: #fff;
   display: flex;
}

.tabla-tickets {
   border-radius: 8px;
   margin-top: 30px;
}

.tabla-tickets thead tr th {
   white-space: nowrap;
}

.tabla-tickets tbody tr td {
   white-space: nowrap;
}

.lista-vacia {
   height: 60px;
}

.lista-vacia p {
   color: #000;
   font-size: 32px;
   text-align: center;
   font-weight: bold;
   border-bottom: 1px solid #555;
   padding-bottom: 20px;
   white-space: nowrap;
}

.opciones-container {
   border-radius: 8px;
   border: 1px solid #222;
   background-color: #fff;
   height: fit-content;
   padding: 30px 30px 30px 30px;
   width: 100%;
   margin-bottom: 25px;
}

.opciones1 {
   display: flex;
}

.table-responsive {
   padding: 0;
}

.btn-opciones {
   white-space: nowrap;
   width: auto;
}

.btno {
   width: 120px;
}

@media (max-width: 768px) {
   * {
      font-size: 12px;
   }
   .opciones-container {
      height: max-content;
   }
   .opciones1 {
      display: flex;
      align-items: center;
   }
   .opciones0 {
      display: flex;
      flex-wrap: wrap;
   }
   .btno {
      width: auto;
   }
   .opc-responsive button {
      max-width: 100px;
      width: fit-content;
   }
   .lista-vacia p {
      font-size: 20px;
   }
   .container-fluid {
      margin: 0;
      padding: 0;
   }
   .container {
      padding: 0;
      margin: 0;
   }
   .menu-container {
      margin: 0;
      padding: 0 !important;
      border: none;
      border-radius: 0px;
      background-color: transparent;
      box-shadow: none !important;
   }
   .opciones-container {
      margin: 0;
      border: none;
      padding: 30px 50px 0px 50px;
      background-color: transparent;
      border-radius: 0px;
      box-shadow: none !important;
   }
   #categoriaEspectador {
      min-width: 100%;
   }
   .ticketsComprados-container {
      border: none;
      border-radius: 0px;
      background-color: transparent;
      box-shadow: none !important;
   }
}

#categoriaEspectador {
   max-width: 150px;
}

