.container-fluid {
   padding: 30px 0px 50px 0px;
   min-height: 90vh;
   height: fit-content;
}

.container {
   padding: 0;
}

.col-12 {
   padding: 0;
}

.menu-container {
   border-radius: 8px;
   border: 1px solid #bcbcbc;
   background-color: #0e4666;
   min-height: fit-content;
   height: fit-content;
   padding: 40px !important;
   margin: 30px 0px;
}

.transacciones-container {
   border-radius: 8px;
   border: 1px solid #bcbcbc;
   background-color: #fff;
   height: fit-content;
   width: 100%;
   padding: 30px;
   margin: 0;
}

.transacciones-header {
   height: 60px;
}

.tabla-transacciones {
   border-radius: 8px;
   border: 1px solid #bcbcbc;
   background-color: #fff;
}

.tabla-transacciones thead tr th {
   white-space: nowrap;
}

.tabla-transacciones tbody tr td {
   white-space: nowrap;
}

.lista-vacia p {
   color: #000;
   font-size: 24px;
   text-align: center;
}

.opciones-container {
   border-radius: 8px;
   border: 1px solid #bcbcbc;
   height: fit-content;
   padding: 30px;
   width: 100%;
   margin-bottom: 30px;
   background-color: #fff;
}

.col {
   padding: 0;
   margin: 0;
}

.opciones {
   width: 100%;
   margin: 0;
}

.table-responsive {
   padding: 0;
}

.btn-opciones {
   white-space: nowrap;
   width: auto;
}

.opciones-filtro {
   display: flex;
   width: 100%;
}

.opciones-filtro button {
   max-width: 180px;
}

.opciones button {
   width: auto;
   white-space: pre;
}

@media (max-width: 1200px) {
   * {
      font-size: 14px;
   }
   p {
      font-size: 18px;
   }
}

@media (max-width: 992px) {
   .opciones {
      display: flex;
      flex-wrap: wrap;
   }
   #listaVacia {
      font-size: 16px;
   }
   
}

@media (max-width: 768px) {
   .opciones {
      justify-content: center;
   }
   .opciones-filtro {
      justify-content: center;
   }
   .opciones-filtro select {
      max-width: 150px;
   }
   #tablaC thead tr th,
   #tablaC tbody tr td {
      font-size: 12px !important;
   }

}

@media (max-width: 576px) {
   .container-fluid, .container, .menu-container {
      padding: 0;
      margin: 0;
      border-radius: 0;
      background-color: #0b4a6e;
   }
   .container-fluid {
      height: fit-content;
   }
   .menu-container {
      min-height: 50vh;
      display: flex;
      align-items: start;
      border: none;
      background-color: transparent;
      box-shadow: none !important;  
   }
   #btnFiltro {
      margin-left: 5px;
   }
   .opciones-container {
      padding: 35px;
   }
   .transacciones-header {
      height: 50px;
   }
   .transacciones-header p {
      font-size: 18px;
   }
   button {
      flex-grow: 1;
   }
}