* {
   font-family: 'Roboto', sans-serif;
}

.container-fluid {
   min-height: 90vh;
   height: fit-content;
   padding: 50px 0px 80px 0px;
}

.container {
   padding: 0;
}

.col-form-prod {
   margin: auto;
}

.productos-form-container {
   border: 1px solid #aaa;
   border-radius: 12px;
   background-color: #9e051c;
   padding: 20px;
}

label {
   color: #fff;
   font-weight: bold;
}