* {
   font-family: 'Roboto', sans-serif;
}

.container-fluid {
   padding: 20px 0px 80px 0px;
   min-height: 90vh;
}

.container {
   padding: 0;
   height: 90vh;
}

.ticket-form-container {
   border: 1px solid #888;
   border-radius: 8px;
   padding: 25px;
   margin: 50px auto;
}

#fechaCompra {
   max-width: 200px;
}